/* karla-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/karla-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/karla-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/dm-serif-display-v11-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/dm-serif-display-v11-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* karla-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/karla-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/karla-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Karla", "Helvetica" , sans-serif;
    margin: 0;
    overflow-x: hidden;
  }

  .container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .site__header {
    padding-top: 21px;
    padding-bottom: 31px;
  }

  .wrapper {
    display: flex;
  }

  .logo__link {
    margin-right: 548.78px;
    padding-top: 13px;
  }


  .header__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0; quotes: ;
  }

  .header__items {
   display: flex;
   align-items: center;
  }

  .header__items:nth-child(1) {
    margin-right: 25px;
  }

  .header__items:nth-child(2) {
    margin-right: 26px;
  }

  .header__items:nth-child(3) {
    margin-right: 33px;
  }

  .header__link {
    font-family: "Karla", "Helvetica" , sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #837d88;
    transition: color 0.5s ease;
  }

  .header__link:hover {
    color: #2c2830;
  }

  .submit__wrapper {
    margin-top: 14px;
  }

  .submit__link {
    font-family: "Karla", "Helvetica" , sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2c2830;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1.5px solid #2C2830;
    padding-top: 8px;
    padding-right: 28.5px;
    padding-bottom: 7px;
    padding-left: 28.5px;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .submit__link:hover {
    background-color: #2c2830;
    color: #fff;
  }

  .section__wrapper {
    position: relative;
    background-image: url('./images/ 18.svg');
  }

  .hero {
    height: 600px;
    background-color: #2d2641;
    margin-bottom: 305px;
  }

  span {
    width: 150px;
    height: 1px;
    color: #fff;
  }

  .hero__wrapper-initial {
    position: relative;
    display: flex;
  }


  .hero__wrapper-last {
    position: absolute;
    left: 570px;
    top: 165px;
    width: 1004px;
    height: 670px;
    background-image: url('./images/Bitmap.svg');
    background-repeat: no-repeat;
  }

  .hero__title {
    font-family: "DM Serif Display" , serif;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #fff;
    margin: 0;
    margin-bottom: 16px;
    padding-top: 169px;
  }

  .hero__text {
    font-family: "Karla", sans-serif;
    line-height: 26px;
    color: #fff;
    margin: 0;
    margin-bottom: 24px;
  }


  .feedback {
    padding-bottom: 158px;
  }

  .feedback__title {
    font-family: "DM Serif Display" , serif;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2c2830;
    margin: 0;
    margin-bottom: 96px;
  }

  .feedback__list {
    list-style: none;
    display: flex;
    padding-left: 0;
  }

  span {
    width: 151px;
    height: 1px;
    background-color: #c396c6;
  }

  .feedback__items {
    margin-right: 30px;
  }

  .feedback__items:nth-child(3) {
    margin-right: 0;
  }

  .feedback__heading {
    font-family: "DM Serif Display" , serif;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.3889px;
    color: #2c2830;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .feedback__text {
    font-family: "Karla", sans-serif;
    line-height: 26px;
    color: #837d88;
    margin: 0;
  }

  .site__article {
    padding-bottom: 150px;
  }

 

  .box__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2641;
  }

  .title__wrapper {
    width: 475px;
    margin-left: 81px;
  }

  .title__wrapper > h2 {
    font-family: "DM Serif Display" , serif;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.7778px;
    color: #fff;
    margin: 0;
    padding: 69px 0;
  }


  .last__link {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
    border: 1.5px solid #fff;
    padding: 13px 24.5px;
    text-decoration: none;
    margin-right: 80px;
    padding: 13px 24.5px;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .last__link:hover {
    background-color: #fff;
    color: #2c2830;
  }




  .site__footer {
    position: relative;
    background-color: #fafafa;
  }

  .logo__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 36px;
    border-bottom: 2px solid #dadada;
    padding-top: 64px;
    margin-bottom: 48px;
  }

  .insure {
    margin-right: 830.78px;
  }

  .logo-small__wrapper {
    display: flex;
  }

  .paths > img {
    margin-right: 16px;
  }

  .paths > img:nth-child(4) {
    margin-right: 0;
  }




  .footer__wrapper {
   
    display: flex;
  }

  .group__wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url('./images/Group\ 22.svg');
    background-repeat: no-repeat;

  }

  .wrapper__first {
    margin-right: 145px;
  }

  .wrapper__second {
    margin-right: 145px;
  }

  .wrapper__third {
    margin-right: 145px;
  }


  .footer__title {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: #837d88;
    margin-bottom: 36px;
    margin-top: 0;
  }
  
  footer  a {
    display: block;
    margin-bottom: 16px;
  }

  footer a {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: #2d2641;
    text-decoration: none;
  }


  
